* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  color: #f9faf8;
}

.link {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}
