* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Styles for header */

ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.header-container {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
}

.header {
  width: 1250px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  color: #f9faf8;
}

.link {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

/* Styles for hero */

.hero-container {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
}

.hero {
  width: 1250px;
  display: flex;
  justify-content: space-between;
  padding: 150px 20px;
  gap: 50px;
}

.hero-main-text {
  color: #f9faf8;
  font-weight: bold;
  font-size: 48px;
}

.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-left,
.hero-right {
  flex: 1;
}

.hero-left h1,
.hero-left p {
  width: 450px;
}

.hero-right {
  background-color: #737a83;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  color: #e5e7eb;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 8px 30px;
  margin-top: 10px;
}
