* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Styles for header section */

ul {
  display: flex;
  list-style: none;
  gap: 30px;
  align-items: center;
}

.header-container {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
}

.header {
  width: 1250px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  color: #f9faf8;
}

.link {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

/* Styles for hero section */

.hero-container {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
}

.hero {
  width: 1250px;
  display: flex;
  justify-content: space-between;
  padding: 150px 20px;
  gap: 50px;
}

.hero-main-text {
  color: #f9faf8;
  font-weight: bold;
  font-size: 48px;
}

.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-left,
.hero-right {
  flex: 1;
}

.hero-left h1,
.hero-left p {
  width: 450px;
}

.hero-right {
  background-color: #737a83;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  color: #e5e7eb;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 8px 30px;
  margin-top: 10px;
}

/* Styles for information section */

.information-container {
  display: flex;
  justify-content: center;
}

.information {
  width: 1250px;
  padding: 20px 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information-header {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  margin: 40px;
}

.information-items {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-description {
  text-align: center;
  width: 150px;
  margin-top: 10px;
  margin-bottom: 60px;
}

.box {
  width: 150px;
  height: 150px;
  border: 2px solid #3882f6;
  border-radius: 10px;
  flex-shrink: 0;
}

/* Styles for quote section */

.quote-container {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
}

.quote {
  width: 1250px;
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote-wrapper {
  display: flex;
  flex-direction: column;
}

.quote .text {
  color: #1f2937;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  width: 800px;
}

.quote .author {
  align-self: flex-end;
}

/* Styling call section */

.call-container {
  display: flex;
  justify-content: center;
}

.call {
  margin: 80px;
  width: 1230px;
  padding: 20px 70px;
  background-color: #3882f6;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.call-title {
  font-weight: bold;
}

.call-btn {
  border: 1px solid white;
}

/* Styling footer section */

.footer-container {
  background-color: #1f2937;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
}

.footer {
  padding: 20px;
  width: 1250px;
  display: flex;
  justify-content: center;
}
